* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    padding:33px 20px;
    float:left;
  }
  .header{
    background-color: rgba(34, 49, 52, 0.9);
    color :#fff;
    height:90px;
   }
   .header-logo{
     padding:20px 40px;
     font-size:36px;
     float:left;
   }
   .logo {
    width: 150px;
    margin-top: 20px;

  }
  a{
    text-decoration: none;
    color: white;
  }